<footer class="footer">
 
  <div class="container footer-content">
    <div class="row">
      <!-- Company Information -->
      <div class="col-md-4">
        <h5 class="footer-header">About</h5>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
          impedit provident itaque fugit dolorum autem dolor laboriosam sit
          odit. Quos architecto amet quam eveniet sint neque deleniti quidem
          perspiciatis fugit!
        </p>

        <div class="col-md-6">
          <h5 class="footer-header">Follow Us</h5>
          <a href="#"
            ><img
              src="assets/icon/facebook.png"
              alt="Facebook"
              class="mx-2"
              width="24"
          /></a>
          <a href="#"
            ><img
              src="assets/icon/twitter.png"
              alt="Twitter"
              class="mx-2"
              width="24"
          /></a>
          <a href="#"
            ><img
              src="assets/icon/instagram.png"
              alt="Instagram"
              class="mx-2"
              width="24"
          /></a>
          <a href="#"
            ><img
              src="assets/icon/linkedin.png"
              alt="LinkedIn"
              class="mx-2"
              width="24"
          /></a>
        </div>
        <!-- <div class="col-md-6 text-center text-md-right app-buttons">
          <h5 class="footer-header">Download Our App</h5>

          <div class="social-buttons">
            <a href="#"
              ><img
                src="assets/icon/playstore.png"
                alt="Download on Play Store"
            /></a>
            <a href="#"
              ><img src="assets/icon/appstore.png" alt="Download on App Store"
            /></a>
          </div>
        </div> -->
      </div>
      <!-- Customer Service -->
      <div class="col-md-4">
        <h5 class="footer-header">Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Order Tracking</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <!-- Useful Links -->
      <div class="col-md-4">
        <h5 class="footer-header">Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Affiliate Program</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4"></div>

    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
