<ion-header class="ion-no-border d-none d-md-block d-lg-block">
  <div class="nav-container">
    <div class="navbar">
      <div class="nav-links">
        <a href="#" target="_blank" rel="noopener noreferrer" class="hover-target" (mouseenter)="showNavbar()" >Bestsellers</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="hover-target">Dogs</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="hover-target">Cats</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="hover-target">Health</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="hover-target">Toys & Games</a>
      </div>
    </div>
    <div class="container nav-content" (mouseleave)="hideNavbar()">
    <div class="row">
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block">
        <div class="row">
          <div class="col-12">
            <h1 class="h5">Dog Food</h1>
            <ul class="item-list">
              <li>Dry Food</li>
              <li>Wet Food</li>
              <li>Puppy Food</li>
              <li>Baked Dry Food</li>
              <li>Veg Dog Food</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Food</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Gromming</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Accessories</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Treats</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Toys</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Clothing</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      <div class="mt-5 col-lg-3 col-md-4 d-none d-md-block d-lg-block"><div class="row">
        <div class="col-12">
          <h1 class="h5">Dog Collars</h1>
          <ul class="item-list">
            <li>Dry Food</li>
            <li>Wet Food</li>
            <li>Puppy Food</li>
            <li>Baked Dry Food</li>
            <li>Veg Dog Food</li>
          </ul>
        </div>
      </div></div>
      
      
    </div>
    </div>
  </div>
</ion-header>

