<ion-header [translucent]="false" class="ion-no-border" *ngIf="!isLoading">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Curlytails</ion-title>
    <!-- <ion-button (click)="openPage('orders')" slot="end" fill="solid" mode="ios" color="primary">
      <ion-icon slot="end" name="bag-outline"></ion-icon>
      Orders
    </ion-button> -->
    <ion-button
      *ngIf="!isLoggedIn"
      id="click-trigger"
      fill="clear"
      slot="end"
    >
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button
    *ngIf="isLoggedIn"
   
    (click)="openPage('profile')"
    fill="clear"
    slot="end"
  >
    <ion-icon slot="icon-only" name="person-circle"></ion-icon>
  </ion-button>
    <ion-button
      *ngIf="!isLoggedIn"
      id="click-trigger2"
     
      fill="clear"
      slot="end"
    >
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button
    *ngIf="isLoggedIn"
   (click)="openPage('cart')"
   
    fill="clear"
    slot="end"
  >
    <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>
<app-navbar *ngIf="!isLoading"></app-navbar>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="div" *ngIf="!isLoading">
    <ion-popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-text color="dark" class="ion-text-center">
            <h6>Please log in</h6>
          </ion-text>
      
      <ion-button (click)="openPage('login')" expand="block" fill="outline" shape="block">
            Login
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-popover>
    <ion-popover trigger="click-trigger2" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-text color="dark" class="ion-text-center">
            <h6>Please log in</h6>
          </ion-text>
          <ion-button expand="block" fill="outline" shape="block">
            Login
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-popover>
    <div #one class="container-fluid">
      <div
        class="row section-hero justify-content-between align-items-center animate__animated animate__fadeIn"
      >
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-md-0">
          <div class="display-1 fw-bold">
            Fresh Flavoured Food & Accessories
          </div>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            exercitationem harum quidem assumenda dicta reiciendis, quas labore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            exercitationem harum quidem assumenda dicta reiciendis, quas labore.
          </p>

          <div>
            <button class="button-primary">Shop Now!</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-none d-md-block">
          <img class="img-fluid" src="assets/hero-01.svg" alt="Hero Image" />
        </div>
      </div>
    </div>

    <div
      #two
      class="section-middle container-fluid mt-5 animate__animated animate__fadeIn"
    >
      <div
        class="row justify-content-center justify-items-center align-content-center"
      >
        <div class="col col-lg-4 col-md-6 col-sm-12">
          <img
            class="img-thumbnail"
            src="assets/banner-01.svg"
            alt=""
            srcset=""
          />
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-12">
          <img
            class="img-thumbnail"
            src="assets/banner-02.svg"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>

    <div
      #three
      id="three"
      class="container-fluid section-third mt-5 animate__animated animate__fadeIn"
    >
      <img src="assets/ad-01.svg" class="img-fluid w-100" alt="" />
    </div>

    <div
      #four
      class="container-fluid section-footer mt-5 animate__animated animate__fadeIn"
    >
      <p class="display-6 text-center">Bestsellers</p>
      <swiper-container
        [slidesPerView]="slidesPerView"
        [grapCursor]="true"
        [cache]="true"
        mousewheel="true"
        [navigation]="navigation"
        [spaceBetween]="5"
        [loop]="true"
        mousewheel-force-to-axis="true"
      >
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <swiper-slide> <app-product-card></app-product-card></swiper-slide>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </swiper-container>
    </div>

    <div
      #five
      class="container-fluid section-about mt-5 animate__animated animate__fadeIn"
    >
      <div class="row">
        <div
          class="col-12 col-md-6 d-flex justify-content-center align-items-center"
        >
          <img src="assets/about.svg" alt="" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6">
          <p class="display-5 text-center text-md-left">Best Quality</p>
          <p class="display-6 text-center text-md-left">
            Nutritional Food For your beloved Pets
          </p>
          <p class="lead text-center text-md-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla saepe
            enim autem, non accusantium minima fugit accusamus recusandae
            nesciunt ipsa placeat aliquam ipsam optio libero quas debitis
            maiores animi corporis! A alias ad porro molestiae! In non neque sit
            facere quo aspernatur itaque illo nobis qui maiores magnam pariatur
            exercitationem id totam voluptatum corrupti, ipsa saepe. Tempore
            dolore cumque atque?
          </p>
          <div class="row justify-content-center">
            <div
              class="col-12 col-md-4 text-center d-flex flex-column align-items-center mb-3 mb-md-0"
            >
              <img
                src="assets/icon/glutenfree.svg"
                alt=""
                class="img-fluid mb-2"
              />
              <p>Gluten Free</p>
              <p class="lead text-center">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
                placeat hic dicta consectetur nisi.
              </p>
            </div>
            <div
              class="col-12 col-md-4 text-center d-flex flex-column align-items-center mb-3 mb-md-0"
            >
              <img
                src="assets/icon/best-quality.svg"
                alt=""
                class="img-fluid mb-2"
              />
              <p>Best Quality</p>
              <p class="lead text-center">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
                placeat hic dicta consectetur nisi.
              </p>
            </div>
            <div
              class="col-12 col-md-4 text-center d-flex flex-column align-items-center"
            >
              <img
                src="assets/icon/pure-organic.svg"
                alt=""
                class="img-fluid mb-2"
              />
              <p>Pure Organic</p>
              <p class="lead text-center">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
                placeat hic dicta consectetur nisi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid section-about mt-5 animate__animated animate__fadeIn" #six>
      <app-info-bar></app-info-bar>
    </div>

    <app-footer class="animate__animated animate__fadeIn"></app-footer>
  </div>

  <div class="loading-container" *ngIf="isLoading">
    <img src="assets/icon/animated/golden-retriever.gif" alt="" />
  </div>
</ion-content>
