ion-select{
    width: 12em;
    min-height: 2em;
}

ion-searchbar{
    width:auto;
}

ion-input{
    width: 12em;
    max-width: 12em;
    min-width: 12em;
    margin-right: 20px;
    --height: 1em;
    --min-height: 2em;
    --max-height: 2em;
}
.button{
        height: 2em;
        min-height: 2em;
}


.button-text{
    font-size: 0.9em;
    height: 2em;
    min-height: 2em;
}

