<div class="container-fluid mt-5 mb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-3 col-md-3 col-sm-1">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
          <img class="img" src="assets/icon/truck.gif" alt="Truck" />
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-center text-md-left">
          <p class="display-6 mb-0">24hr Delivery</p>
          <p class="lead">In Pune City</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-1">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
          <img class="img" src="assets/icon/friendship.gif" alt="" />
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-center text-md-left">
          <p class="display-6 mb-0">Trusted Brands</p>
          <p class="lead">Building trust with us</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-1">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
          <img class="img" src="assets/icon/pill.gif" alt="" />
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-center text-md-left">
          <p class="display-6 mb-0">Health Assured</p>
          <p class="lead">Quality Checked products</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-1">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
          <img class="img" src="assets/icon/truck.gif" alt="" />
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-center text-md-left">
          <p class="display-6 mb-0">Happy Parents</p>
          <p class="lead">2000+</p>
        </div>
      </div>
    </div>
  </div>
</div>
